@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  /* Colors */
  --Tomato: hsl(4, 100%, 67%);
  --DarkSlateGrey: hsl(234, 29%, 20%);
  --CharcoalGrey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
  /* Fonts */
  --font-size: 16px;
  --font-family: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ! Rules + Generic Classes */
.hidden {
  display: none;
}
body {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--CharcoalGrey);
  font-family: var(--font-family);
  font-size: var(--font-size);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-x: hidden;
}

/*  */
main {
  min-width: 750px;
  background-color: var(--White);
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: row-reverse;
}
.header-img {
  background-image: url(assets/images/illustration-sign-up-desktop.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-color: red; */
  width: 80%;
  /* height: 585px; */
  border-radius: 10px;
}
@media (max-width: 400px) {
  main {
    min-width: 100%;
    min-height: 100vh;
    border-radius: 0px;
    flex-direction: column;
    padding: 0rem;
  }
  .header-img {
    background-image: url(assets/images/illustration-sign-up-mobile.svg);
    width: 96%;
    height: 261px;
    /* min-height: 100%; */
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
/* TODO mobile width */
/* ! content Update */
.content {
  padding: 1.5rem;
  padding-top: 3rem;
}
.content h1 {
  color: var(--DarkSlateGrey);
  font-size: 48px;
}
.content .descr {
  color: var(--DarkSlateGrey);
  margin-top: 1rem;
}
.content ul {
  margin-top: 2rem;
}
.content li {
  list-style: none;
  display: flex;
  align-items: start;
  gap: 0.8rem;
  /* justify-content: space-between; */
  margin-top: 15px;
}
.content li::before {
  content: "";
  background-image: url(assets/images/icon-list.svg);
  --size: 21px;
  background-repeat: no-repeat;
  background-position: center;

  width: var(--size);
  padding: 0 3px;
  height: var(--size);
}
/* ! form */
form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-bottom: 4rem;
  justify-content: space-between;
  --input-width: 100%;
}
form label {
  color: var(--DarkSlateGrey);
  font-weight: 700;
  order: -1;
}
form input {
  display: block;
  width: var(--input-width);
  margin-left: auto;
  margin-right: auto;
  padding: 13px 21px;
  border: none;
  outline: none;
  border: 1px solid hsl(231deg 7% 60% / 39%);
  border-radius: 5px;
  margin-top: 6px;
}

@media (max-width: 400px) {
  .content {
    padding-top: 2rem;
  }
  .content h1 {
    font-size: 40px;
  }
}
button {
  background-color: var(--DarkSlateGrey);
  border: none;
  outline: none;
  color: var(--White);
  display: block;
  width: var(--input-width);
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  padding: 13px;
  border-radius: 5px;
  font-weight: 700;
  transition: background-color 0.2s ease-in-out;
  /* ToDO Cursor */
}
button:hover {
  background-color: var(--Tomato);
}

form p {
}
form p.required {
  display: none;
  color: var(--Tomato);
  font-weight: 700;
  order: -1;
}
form input.invalid {
  color: var(--Tomato);
  border-color: var(--Tomato);
  background-color: #ffe8e6;

  font-weight: 700;
}

/* TODO success message */
.success {
  background-color: var(--White);
  border-radius: 15px;
  width: 350px;
  padding: 1rem 2rem;
}
.success .icon-wrapper {
  margin-top: 1rem;
}
.success .icon-wrapper img {
  width: 50px;
}
.success h1 {
  margin-top: 1rem;
  color: var(--DarkSlateGrey);
  font-size: 38px;
}

.success p {
  margin-top: 1rem;
  color: var(--DarkSlateGrey);
  line-height: 1.3;
}
.success .email {
  font-weight: 700;
}
.success button {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 10px;
  margin-top: 2rem;
}
@media (max-width: 400px) {
  .success {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
  .success .icon-wrapper {
    margin-top: 6rem;
  }
  .success .icon-wrapper img {
  }

  .success h1 {
    margin-top: 1.5rem;
  }
  .success p {
    margin-top: 1.5rem;
  }
  .success .email {
  }
  .success button {
    margin-top: 15rem;
    padding: 1.1rem;
  }
}

 /* this is for dark mode  */
body.dark {
  background: var(--DarkMode);

}
main.dark , .success.dark{
    /* border: 1.5px solid white; */
      background: var(--DarkMode);
        color: var(--DarkModeColor);
    box-shadow: 0 1px 43px 14px #ffffff12;
}
.header-img.dark{
  border: 1.5px solid white;
}

 h1.dark , form label.dark, ul.dark,  .descr.dark , label.dark , .success h1.dark , .success p.dark {
  color:var(--DarkModeColor);
}
/* .iconn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50px;
  right: 50px;
  border-radius: 50%;
}
.iconn .icon-mode{
  color: rgb(0, 0, 0);
} */
.btn{
    padding: 10px;
      position: absolute;
      background-color: white;
      top: 50px;
      right: 50px;
      color: black;
      font-weight: bold;
      border: 1px solid white;
      border-radius: 20px 0 20px 0;
      box-shadow: rgb(255 255 255 / 25%) 0px 1px 43px 14px;
      cursor: pointer;
}
