@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
  --card-1: hsl(31, 77%, 52%);
  --card-2: hsl(184, 100%, 22%);
  --card-3: hsl(179, 100%, 13%);
  --p-color: hsla(0, 0%, 100%, 0.75);
  --primary-color: hsl(0, 0%, 95%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
font-family: 'Big Shoulders Display', sans-serif;
font-family: 'Lexend Deca', sans-serif;
*/
body {
  background-color: var(--primary-color);
  font-family: "Lexend Deca", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.container {
  width: 350px;
  border-radius: 10px;
  background-color: red;
  margin-top: 1rem;
}
@media (min-width: 950px) {
  .container {
    margin-top: 3rem;
    width: 900px;
    display: flex;
  }
}
.container .card-1 {
  --background-color: var(--card-1);
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
}
.container .card-2 {
  --background-color: var(--card-2);
}
.container .card-3 {
  --background-color: var(--card-3);
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}
@media (min-width: 950px) {
  .container .card-1 {
    border-bottom-left-radius: inherit;
    border-top-right-radius: 0px;
  }
  .container .card-3 {
    border-top-right-radius: inherit;
    border-bottom-left-radius: 0px;
  }
}
.container .card {
  background-color: var(--background-color);
  --gap: 1.5rem;
  padding: 2.5rem 2.5rem;
}

.container .card > h1 {
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 22px;
  color: var(--primary-color);
  margin-top: var(--gap);
  text-transform: uppercase;
}
.container .card > p {
  margin-top: 1rem;
  color: var(--p-color);
  font-size: 15px;
  line-height: 1.5;
}
.container .card > .btn {
  display: block;
  width: fit-content;
  color: var(--background-color);
  background-color: var(--primary-color);
  margin-top: 1rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  font-size: 15px;
}

.attribution {
  margin-top: 2rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
