@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
:root {
  --main-background-color: hsl(233, 47%, 7%);
  --card-background-color: hsl(244, 38%, 16%);
  --accent-color: hsl(277, 64%, 61%);
  --paragraph-color: hsla(0, 0%, 100%, 0.75);
  --stat-heading-color: hsla(0, 0%, 100%, 0.6);
  --main-heading-color: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif;
*/
body {
  background-color: var(--main-background-color);
  font-family: "Inter", sans-serif;
  color: var(--main-heading-color);
}
.container {
  width: 350px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container .img-holder {
}
.container h1 {
}
.container p {
}
.container .stats {
}
.contianer .stat {
}
.container .stat > span {
}
.container .stat > h2 {
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
